strict-peer-dependencies=false
auto-install-peers=true
use-node-version=16.20.0

public-hoist-pattern[]=*commitizen*
public-hoist-pattern[]=*cz-conventional-changelog*
public-hoist-pattern[]=*@typescript-eslint*
public-hoist-pattern[]=*tsutils*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*typedoc*